@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;0,900;1,600&family=Open+Sans:wght@500;600;700;800&family=Oswald:wght@500;600;700&family=Pacifico&family=Poppins:wght@400;500;600;700;800;900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


.headerlogo{
  font-family: 'Borel', cursive;
  color: #ffbd15;
}

.fotterp{
  line-height: 28px;
}

.logolink{
  display: flex;
}


.changecolor{
  color:#ffbc14 !important ;
}

.herosection{
  /* background: #1D5D9B; */
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.topheader{
  background: #20203a;
}


.blogpage{
  background: #20203a;
}

/* title style section  */
.herotitle{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}


/* main file converter box styles  */
.main_file_converter_box{
  background-color: #ffffff10;
  border: 1px dashed rgba(216, 215, 215, 0.781);
}


/* upload clicking box for file uploader styles  */
.uploadbox{
  border: 1px dashed #f5f5f54f;
  background-color: #ddd8d815;
}

.uploadbox .uploadarrow{
  color: #c2c2c2;
  transition: .2s;
}

.uploadbox:hover .uploadarrow{
  height: 37px;
}

.uploadbox:hover{
  border: 1px solid #f5f5f54f;
  background-color: #ddd8d828;
}


/* select file type option box styles  */
.selectoption option{
  background-color: #ffffff49 !important;
}


/* file form upload section styles  */
.fileform{
  opacity: 0;
}



/* styling the converting submit button  */
.convertbtn{
  background: rgba(255, 255, 255, 0.151);
  color: white;
}

.icons{
  transition: .3s;
}

.convertbtn:hover .icons{
  transform: translatex(8px);
}

.Navigation ul li:hover {
  color: #ffbd15;
}

.ullist li{
  position: relative;
  padding: 6px 0;
}

.ullist li::after{
  content: '';
  width: 0px;
  height: 2px;
  background-color: #ffbd15;
  position: absolute;
  left: 19px;
  bottom: 0;
  transition: .3s;
}


.ullist li:hover::after{
  content: '';
  width: 30px;
  height: 2px;
  background-color: #ffbd15;
  position: absolute;
  left: 19px;
  bottom: 0;
}


/* more file converter gird box styles  */
.moreconvertbox{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) ;
  grid-auto-rows: 200px;
  justify-items: center;
}

.Navigation{
  transition: .3s;
}

.loading{
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
    0%{
      transform: rotate(360deg);
    }
}


.hoverline::-webkit-scrollbar{
  width: 10px;
  height: 10px;

}

.hoverline::-webkit-scrollbar-thumb{
  background: gray;
  border-radius: 10px;
}

.searchinput:checked{
  outline: none;
  border: none;

}

.fotter{
  background-color: #ffffff;
}